<form name="post_to_twitter" id="post_to_twitter" method="post" action="<mt:var name="script_url">">
            <input type="hidden" name="__mode" value="post_to_twitter" />
            <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />
            <input type="textarea" name="twit" id="twit" size="30" />
            <button type="submit" />Twit!</button>
</form>
